<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre el Autor - Dars Academy</title>
    <link rel="stylesheet" href="/assets/css/sobre-styles.css">
    <link rel="shortcut icon" href="img/logotipo_para_editar-removebg-preview.png" type="image/x-icon">
</head>

<body>

    <header>
        <h1>Sobre el Autor</h1>
        <nav>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="foro.html">Interacción academica</a></li>
            <li><a href="chat.html">Chat en tiempo real</a></li>
            <li><a href="llamadas.html">Comunicaciones virtuales</a></li>
            <li><a href="proyectos.html">Proyectos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="sobre.html">Sobre</a></li>
        </nav>
    </header>

    <main>
        <article>
            <h2>¿Quiénes somos?</h2>
            <p>Dars Academy es una plataforma dedicada a fomentar el aprendizaje colaborativo y la interacción académica
                en línea.
                Nuestro objetivo es proporcionar un espacio donde estudiantes puedan compartir
                conocimientos y mejorar sus habilidades</p>
        </article>

        <aside>
            <h3>Dato Curioso</h3>
            <p>Sabías que el aprendizaje en comunidad puede aumentar la retención de información hasta en un 60% en
                comparación con el estudio individual?</p>
        </aside>

        <section>
            <h2>Mi Foto</h2>
            <img src="/assets/img/grupodetrabajo.jpg" alt="Foto del autor" width="500">
        </section>
    </main>

    <footer>
        <p>© 2025 Dars Academy</p>
    </footer>

</body>

</html>