<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/components/login-styles.css">
    <title>Formulario de Registro</title>
</head>

<body>
    <div class="form-body">
        <img src="/assets/img/user_icon_143482.jpg" alt="user-login">
        <p class="text">Bienvenido Dars Academy</p>
        <form class="login-form">
            <input type="text" placeholder="Email o nombre de usuario">
            <input type="password" placeholder="Contraseña">
            <button>Iniciar Sesión</button>
        </form>
        <p class="text-1">¿No tienes una cuenta? <a href="register.html">Regístrate</a></p>
        <p class="text-2">¿Olvidaste tu contraseña? <a href="forgot-password.html">Recuperar</a></p>
    </div>
</body>

</html>